.mainContent {
    display: grid;
    margin: 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    column-gap: 100px;

}

div[name="div0"] {
    grid-area: left;
    background-color: rgb(14, 79, 79);
    height: 500px;
}

div[name="div1"] {
    grid-area: right;
    height: 500px;
    background-color: rgb(14, 79, 79);
}